{% extends "layout.html" %}

{% block body %}
    <div class="container">    
        <div class="row align-items-center myRow ">
            <div class="col loginForm">
                <form  method="post" >
                    <h2 style="text-align: center; color: rgb(255, 255, 255);">Please Enter Your Information</h1>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <label class="loginInfo" for="username">Username:</label>
                    <br>
                    <input class="form-control mx-auto myInput" type="text" name="username" id="username">
                    <br>
                    <label class="loginInfo" for="password">Password:</label>
                    <br>
                    <input class="form-control mx-auto myInput" type="text" name="password" id="password">
                    <br>
                    <button class="btn myBtn" type="submit" class="btn btn-primary">Log In</button>
                </form>      
            </div>
        </div>
    </div>
{% endblock %}