{% extends "layout.html" %}

{% block body %}



</head>
<script type="text/javascript" src="static/stopwatch.js"></script>
<script>
	let csrf_token = "{{ csrf_token() }}";
	
	let minString;
	let secString;
	let hrString;
	window.addEventListener("load", function() {
		let home = document.getElementById("home");
		home.addEventListener('click', function() {
			window.location.assign(`${window.origin}/`)
		})
	});
</script>
<script type="text/javascript" src="static/soduku.js"></script>

<body> 
	<div class="container center"> 
		<div id="time"> 
			<span class="digit" id="hr"> 
				00</span> 
			<span class="txt">h</span> 
			<span class="digit" id="min"> 
				00</span> 
			<span class="txt">m</span> 
			<span class="digit" id="sec"> 
				00</span> 
			<span class="txt">s</span> 
			
		</div> 
	
	</div> 


    <form method="post" action="/sodukuPage" class="sodukuForm">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <table id="grid" class="myTable" style="margin-top: 5%; border-color: white;" border="4" >
            {% for row in rows %}
                <tr HEIGHT="50px">
                    {% for col in cols %}
						{% if row in sides and col in vertical %}
							{% set choice = "double" %}
						{% elif row in sides %}
							{% set choice = "side" %}
						{% elif col in vertical %}
							{% set choice = "vertical" %}
						{% else %}
							{% set choice = "nothing" %}
						{% endif %}
						
                        {% if not playerBoard[row, col] %}
                            <td WIDTH="50px" class="{{choice}}" ><input id="{{(row, col)}}" class="numberSlot identifier" maxlength="1" ></input></td>
                        {% else %}
                            <td WIDTH="50px" id="{{(row, col)}}" class="{{choice}} piece identifier" >{{playerBoard[row, col]}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
		<div class="d-grid gap-2">
			<button class="btn btn-info sodukuBtn" id="check" value="8" type="button">Check Work</button>
		  </div>
    </form>
	<div class="modal" id="modal23" tabindex="-1">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div id="modal-header" class="modal-header">
			  <h5 class="modal-title" id="modalTitle"></h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			  <p  id="message"></p>
			</div>
			<div class="modal-footer" id="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  <button type="button" id="home" class="btn btn-primary">Return To Home Page</button>
			</div>
		  </div>
		</div>
	  </div>
{% endblock %}